<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>second</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hello2</display-name>
    <servlet-name>Hello2</servlet-name>
    <servlet-class>Hello2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello2</servlet-name>
    <url-pattern>/Hello2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyLock</display-name>
    <servlet-name>BuyLock</servlet-name>
    <servlet-class>BuyLock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyLock</servlet-name>
    <url-pattern>/BuyLock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellLock</display-name>
    <servlet-name>SellLock</servlet-name>
    <servlet-class>SellLock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellLock</servlet-name>
    <url-pattern>/SellLock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellsText</display-name>
    <servlet-name>SellsText</servlet-name>
    <servlet-class>SellsText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellsText</servlet-name>
    <url-pattern>/SellsText</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doRegistration</display-name>
    <servlet-name>doRegistration</servlet-name>
    <servlet-class>doRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doRegistration</servlet-name>
    <url-pattern>/api/v1/doRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BtcPriceProtection</display-name>
    <servlet-name>BtcPriceProtection</servlet-name>
    <servlet-class>BtcPriceProtection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BtcPriceProtection</servlet-name>
    <url-pattern>/BtcPriceProtection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendLockCoinPrice</display-name>
    <servlet-name>SendLockCoinPrice</servlet-name>
    <servlet-class>SendLockCoinPrice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendLockCoinPrice</servlet-name>
    <url-pattern>/SendLockCoinPrice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispalyTransactions</display-name>
    <servlet-name>DispalyTransactions</servlet-name>
    <servlet-class>DispalyTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispalyTransactions</servlet-name>
    <url-pattern>/DispalyTransactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buySellEscrow</display-name>
    <servlet-name>buySellEscrow</servlet-name>
    <servlet-class>buySellEscrow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buySellEscrow</servlet-name>
    <url-pattern>/buySellEscrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WaitingToBuy</display-name>
    <servlet-name>WaitingToBuy</servlet-name>
    <servlet-class>WaitingToBuy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaitingToBuy</servlet-name>
    <url-pattern>/WaitingToBuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEscro</display-name>
    <servlet-name>AdminEscro</servlet-name>
    <servlet-class>AdminEscro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEscro</servlet-name>
    <url-pattern>/AdminEscro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEscrowDo2</display-name>
    <servlet-name>AdminEscrowDo2</servlet-name>
    <servlet-class>AdminEscrowDo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEscrowDo2</servlet-name>
    <url-pattern>/AdminEscrowDo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlertOnEscrow</display-name>
    <servlet-name>AlertOnEscrow</servlet-name>
    <servlet-class>AlertOnEscrow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlertOnEscrow</servlet-name>
    <url-pattern>/AlertOnEscrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StillWaiting</display-name>
    <servlet-name>StillWaiting</servlet-name>
    <servlet-class>StillWaiting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StillWaiting</servlet-name>
    <url-pattern>/StillWaiting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Trading</display-name>
    <servlet-name>Trading</servlet-name>
    <servlet-class>Trading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trading</servlet-name>
    <url-pattern>/Trading</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WaitForRegistration</display-name>
    <servlet-name>WaitForRegistration</servlet-name>
    <servlet-class>WaitForRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaitForRegistration</servlet-name>
    <url-pattern>/WaitForRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetUserCoinAdresses</display-name>
    <servlet-name>SetUserCoinAdresses</servlet-name>
    <servlet-class>SetUserCoinAdresses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUserCoinAdresses</servlet-name>
    <url-pattern>/SetUserCoinAdresses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BTCDEP</display-name>
    <servlet-name>BTCDEP</servlet-name>
    <servlet-class>BTCDEP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BTCDEP</servlet-name>
    <url-pattern>/BTCDEP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveFromPending</display-name>
    <servlet-name>MoveFromPending</servlet-name>
    <servlet-class>MoveFromPending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveFromPending</servlet-name>
    <url-pattern>/MoveFromPending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Refer</display-name>
    <servlet-name>Refer</servlet-name>
    <servlet-class>Refer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refer</servlet-name>
    <url-pattern>/Refer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUnMatched</display-name>
    <servlet-name>DeleteUnMatched</servlet-name>
    <servlet-class>DeleteUnMatched</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUnMatched</servlet-name>
    <url-pattern>/DeleteUnMatched</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitMatchProtect</display-name>
    <servlet-name>ExitMatchProtect</servlet-name>
    <servlet-class>ExitMatchProtect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitMatchProtect</servlet-name>
    <url-pattern>/ExitMatchProtect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitMatchTrade</display-name>
    <servlet-name>ExitMatchTrade</servlet-name>
    <servlet-class>ExitMatchTrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitMatchTrade</servlet-name>
    <url-pattern>/ExitMatchTrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelSale</display-name>
    <servlet-name>CancelSale</servlet-name>
    <servlet-class>CancelSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelSale</servlet-name>
    <url-pattern>/CancelSale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatchBTC</display-name>
    <servlet-name>MatchBTC</servlet-name>
    <servlet-class>MatchBTC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchBTC</servlet-name>
    <url-pattern>/MatchBTC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EscrowContact</display-name>
    <servlet-name>EscrowContact</servlet-name>
    <servlet-class>EscrowContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EscrowContact</servlet-name>
    <url-pattern>/EscrowContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerShipTransfer</display-name>
    <servlet-name>OwnerShipTransfer</servlet-name>
    <servlet-class>OwnerShipTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerShipTransfer</servlet-name>
    <url-pattern>/OwnerShipTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmFundsTransfered</display-name>
    <servlet-name>ConfirmFundsTransfered</servlet-name>
    <servlet-class>ConfirmFundsTransfered</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmFundsTransfered</servlet-name>
    <url-pattern>/ConfirmFundsTransfered</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateMoneyRecieved</display-name>
    <servlet-name>ValidateMoneyRecieved</servlet-name>
    <servlet-class>ValidateMoneyRecieved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateMoneyRecieved</servlet-name>
    <url-pattern>/ValidateMoneyRecieved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAvailabeEscrows</display-name>
    <servlet-name>DisplayAvailabeEscrows</servlet-name>
    <servlet-class>DisplayAvailabeEscrows</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAvailabeEscrows</servlet-name>
    <url-pattern>/DisplayAvailabeEscrows</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dashboard</display-name>
    <servlet-name>dashboard</servlet-name>
    <servlet-class>dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gauge</display-name>
    <servlet-name>gauge</servlet-name>
    <servlet-class>gauge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gauge</servlet-name>
    <url-pattern>/api/v1/gauge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jsonTradeHistory</display-name>
    <servlet-name>jsonTradeHistory</servlet-name>
    <servlet-class>jsonTradeHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsonTradeHistory</servlet-name>
    <url-pattern>/jsonTradeHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonBuyLock</display-name>
    <servlet-name>JsonBuyLock</servlet-name>
    <servlet-class>JsonBuyLock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonBuyLock</servlet-name>
    <url-pattern>/JsonBuyLock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/api/v1/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssetBtcServer</display-name>
    <servlet-name>AssetBtcServer</servlet-name>
    <servlet-class>AssetBtcServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssetBtcServer</servlet-name>
    <url-pattern>/api/v1/assetBtcServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BalancesServer</display-name>
    <servlet-name>BalancesServer</servlet-name>
    <servlet-class>BalancesServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BalancesServer</servlet-name>
    <url-pattern>/api/v1/balancesServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orders</display-name>
    <servlet-name>orders</servlet-name>
    <servlet-class>orders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orders</servlet-name>
    <url-pattern>/api/v1/trade/orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RunTimer</display-name>
    <servlet-name>RunTimer</servlet-name>
    <servlet-class>RunTimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunTimer</servlet-name>
    <url-pattern>/api/v1/runtimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StopTimer</display-name>
    <servlet-name>StopTimer</servlet-name>
    <servlet-class>StopTimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StopTimer</servlet-name>
    <url-pattern>/api/v1/stoptimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Balances</display-name>
    <servlet-name>Balances</servlet-name>
    <servlet-class>Balances</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Balances</servlet-name>
    <url-pattern>/api/v1/balances</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePosition</display-name>
    <servlet-name>CreatePosition</servlet-name>
    <servlet-class>CreatePosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePosition</servlet-name>
    <url-pattern>/api/v1/position/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuySellLocck</display-name>
    <servlet-name>BuySellLocck</servlet-name>
    <servlet-class>BuySellLocck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuySellLocck</servlet-name>
    <url-pattern>/api/v1/orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quotes</display-name>
    <servlet-name>Quotes</servlet-name>
    <servlet-class>Quotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quotes</servlet-name>
    <url-pattern>/api/v1/quotes</url-pattern>
  </servlet-mapping>
</web-app>